.venv/
__pycache__/
*.pyc

.env

.ipynb_checkpoints/

data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep

.jupyter_runtime/

repositories/

# MLflow
mlruns/
mlflow.db
mlflow.db-shm
mlflow.db-wal